/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 jun 2025, 01:41:25
    Author     : Usuario
*/
*{
    -fx-base-color-focus:#09b6bc;
    -fx-base-color-etiquetas:#4d4d4d;
    -fx-base-color-titulos:#000000;

}

.jfx-Panel-Borde{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.mfx-text-field {
    -mfx-main: -fx-base-color-focus;
    -fx-prompt-text-fill: -fx-base-color-etiquetas;
    -mfx-float-mode:BORDER;
    -fx-font-size:14px;
    -fx-min-height:40px;
    -fx-pref-height:40px;
    -fx-max-height:40px;
    -fx-text-fill:black;
    -fx-alignment:TOP_LEFT;
}

.jfx-label-titulos{
    -fx-font-size: 24px;
    -fx-padding:5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.jfx-basic-labels{
    -fx-font-size: 15px;
    -fx-padding:5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.mfx-button {
    -mfx-botton-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size:14px;
    -fx-alignment: center;
}

.separator{
    -fx-background-color:#97a692;
}

.mfx-button:hover{
    -fx-background-color: goldenrod;
}

.jfx-button-salir, .jfx-button-salir:armed,.jfx-button-salir:focused{
    -fx-background-color:white;
    -fx-alignment:CENTER;
}

.jfx-button-acerdaDe, .jfx-button-acercaDe:armed,.jfx-button-acerdaDe:focused{
    -fx-background-color:white;
    -fx-alignment:CENTER;
}

.jfx-button-Estadistica, .jfx-button-Estadistica:armed, .jfx-button-Estadistica:focused{
    -fx-background-color:white;
}

.jfx-button-Eliminar, .jfx-button-Eliminar:armed, .jfx-button-Eliminar:focused{
    -fx-background-color:white;
}

.jfx-button-Editar, .jfx-button-Editar:armed, .jfx-button-Editar:focused{
    -fx-background-color:white;
}

.jfx-button-agregar, .jfx-button-agregar:armed, .jfx-button-agregar:focused{
    -fx-background-color:white;
    -fx-font-size: 12px;
}

.jfx-button-empezar, .jfx-button-empezar:armed, .jfx-button-empezar:focused{
    -fx-background-color:white;
    -fx-alignment:CENTER;
}

.jfx-button-finalizar-registro, .jfx-button-finalizar-registro:armed, .jfx-button-finalizar-registro:focused{
    -fx-background-color:white;
    -fx-alignment:CENTER;
}

.jfx-button-ajustes, .jfx-button-ajustes:armed, .jfx-button-ajustes:focused{
    -fx-background-color: white;
    -fx-alignment:CENTER;
}

.jfx-button-guardar, .jfx-button-guardar:armed, .jfx-button-guardar:focused{
    -fx-background-color:white;
    -fx-alignment:CENTER;
}

.jfx-button-agregar > ImageView{
    -fx-image:url("../resources/add.png");
}

.jfx-button-Estadistica > ImageView{
    -fx-image:url("../resources/Stats.png");
}

.jfx-button-acercaDe > ImageView{
    -fx-image:url("../resources/acercaDe.png");

}

.jfx-button-Eliminar > ImageView{
    -fx-image:url("../resources/eliminar.png");
}

.jfx-button-Editar > ImageView{
    -fx-image:url("../resources/editar.png");
}

.jfx-button-empezar > ImageView{
    -fx-image:url("../resources/play.png");
}

.jfx-button-ajustes > ImageView{
    -fx-image:url("../resources/ajustesWhiteTheme.png");
}

.jfx-button-eliminar-equipo > ImageView{
    -fx-image:url("../resources/eliminar.png");
}

.jfx-ImageView{
    -fx-image:url("../resources/AgregarImagen.png");
}
.jfx-usuarioImg{
    -fx-image:url("../resources/user.png");
}

.jfx-button-ajustes > ImageView{
        -fx-image:url("../resources/ajustesWhiteTheme.png");
}

.jfx-fondoPrincipal{
    -fx-image:url("../resources/fondo.png");
}
.jfx-button-salir> ImageView{
        -fx-image:url("../resources/exit.png");
}

